/******************************************************************
Projects
******************************************************************/
.projects {
	margin: 0;
	padding: 0;
}
.project {
	float: left;
	display: block;
	
	margin: 10px 10px 10px 0;
	padding: 10px;
	
	border: 1px solid #eee;
    -moz-box-shadow:    1px 1px 2px 0 #efefef;
    -webkit-box-shadow: 1px 1px 2px 0 #efefef;
    box-shadow:         1px 1px 2px 0 #efefef;
}
.project > h2 {
	margin: 0 0 0.25em 0;
}
.project-img {
	max-width: 100%;
}
.project-technologies {
	list-style: none;
	
	margin: 0 0 1em 0;
	padding: 0;	
}
.project-technologies > li {
    display: inline-block;
    *display: inline;
    *zoom: 1;	
	
	margin-right: 0.2em;	
	
	color: #999;
	font-weight: normal;
	font-size: small;
}
.project-technologies > li:before {
	content:'\2022';
	margin-right:0.3em;
}
.project-technologies > li:first-child:before {
    content:'';
    margin-right: 0;
}
